@model OnboardingProj.Models.CustomerViewModel

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/knockout.validation.js"></script>

<h2>Customers</h2>

<div class="container">
    <a href="#" class="btn btn-info" onclick="AddNewCustomer(0)">Add New Customer</a> <br /><br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Action(Edit)</th>
                <th>Action(Delete)</th>

            </tr>
        </thead>
        <tbody id="SetCustomerList">
            <tr id="LoadingStatus" style="color:red"></tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitle"></h4>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.CustomerId, new { @id = "CustId" })
                        <div class="form-group">
                            @*@Html.TextBoxFor(m => m.CustomerName, new { @id = "CustName", @class = "form-control", @placeholder = "Name*" })*@
                            <input type="text" id="CustName" class="form-control" data-bind="value:CustName" placeholder="Customer Name" name="CustomerName" />
                        </div>
                        <div class="form-group">
                            @*@Html.TextBoxFor(m => m.Address, new { @id = "Address", @class = "form-control", @placeholder = "Address*" })*@
                            <input type="text" id="Address" class="form-control" data-bind="value:Address" placeholder="Address" name="Address" />
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SaveCustomerRecord">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DeleteConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Delete Customer Record</h4>
            </div>
            <div class="modal-body">
                <p>Are You Sure You Want To Delete This Record?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary" onclick="ConfirmDelete()">Confirm</a>
                <a href="#" class="btn btn-secondary" data-dismiss="modal" id="r">Cancel</a>

            </div>
        </div>
    </div>
</div>

<script>
    $("#LoadingStatus").html("Loading....");
    $.get("/Customer/GetCustomerList", null, DataBind);
    function DataBind(CustomerList) {
        //This Code For Receive All Data From Controller And Show It In Client Side
        var SetData = $("#SetCustomerList");
        for (var i = 0; i < CustomerList.length; i++) {
            var Data = "<tr class='row_" + CustomerList[i].Id + "'>" +
                "<td>" + CustomerList[i].CustomerId + "</td>" +
                "<td>" + CustomerList[i].CustomerName + "</td>" +
                "<td>" + CustomerList[i].Address + "</td>" +
                "<td>" + "<a href='#' class='btn btn-warning' onclick='EditCustomerRecord(" + CustomerList[i].CustomerId + ")' ><span class='glyphicon glyphicon-edit'>Edit</span></a>" + "</td>" +
                "<td>" + "<a href='#' class='btn btn-danger' onclick='DeleteCustomerRecord(" + CustomerList[i].CustomerId + ")'><span class='glyphicon glyphicon-trash'>Delete</span></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);
            $("#LoadingStatus").html(" ");

        }
    }

    //Show The Popup Modal For Add New Customer

    function AddNewCustomer(CustomerId) {
        $("#form")[0].reset();
        $("#CustId").val(0);
        $("#ModalTitle").html("Add New Customer");
        $("#MyModal").modal();

    }

    //Show The Popup Modal For Edit Customer Record

    function EditCustomerRecord(CustomerId) {
        var url = "/Customer/GetCustomerById?CustomerId=" + CustomerId;
        $("#ModalTitle").html("Edit Customer Record");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#CustId").val(obj.Id);
                $("#CustName").val(obj.Name);
                $("#Address").val(obj.Address);
            }
        })
    }

    $("#SaveCustomerRecord").click(function () {
        var data = $("#SubmitForm").serialize();

        alert(data);
        alert($("#CustName").val());
        alert($("#Address").val());

        if ($("#CustName").val() == "" || $("#Address").val() == "") {
            alert("The Name and Address fields must not be empty!");
        }
        else {
            $.ajax({
                type: "Post",
                url: "/Customer/SaveDataInDatabase",
                data: data,
                success: function (result) {
                    //alert("Success!..");
                    window.location.href = "/Customer/index";
                    $("#MyModal").modal("hide");

                }
            })
        }
    })

    //Show The Popup Modal For DeleteComfirmation
    var DeleteCustomerRecord = function (CustomerId) {
        $("#CustId").val(CustomerId);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var CustId = $("#CustId").val();
        $.ajax({
            type: "POST",
            url: "/Customer/DeleteCustomerRecord?CustomerId=" + CustId,
            success: function (result) {
                window.location.href = "/Customer/index";
                $("#DeleteConfirmation").modal("hide");
                $(".row_" + CustId).remove();
            }
        })
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {

        ko.validation.init({

            registerExtenders: true,
            messagesOnModified: true,
            insertMessages: true,
            parseInputAttributes: true,
            errorClass: 'errorStyle',
            messageTemplate: null

        }, true);

        var viewModel = {

            //var self = this;

            CustName: ko.observable().extend({ required: true, minLength: 2, maxLength: 17 }),
            Address: ko.observable().extend({ required: true, minLength: 2, maxLength: 17 }),

            submit: function () {
                $('div.alert-success').hide();
                $('div.alert-danger').hide();
                if (viewModel.errors().length === 0) {
                    //alert('Thank you');
                    $('div.alert-success').show();
                } else {
                    //alert('Please check your submission');
                    $('div.alert-danger').show();
                }

            }


        };

        //Catch errors
        viewModel.errors = ko.validation.group(viewModel);
        ko.applyBindings(viewModel);


    });


</script>